.container {
  background-color: #eee;
  height: 100vh;
  width: 33.333%;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, 6rem);
  grid-auto-rows: 6rem;
  align-items: center;
  column-gap: 1rem;
  position: fixed;
  overflow-y: scroll;
}

.profile {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  column-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid rgb(197, 194, 194);
  height: 100%;
  width: 100%;
}

.profile:not(:first-child):hover {
  cursor: pointer;
  background-color: rgb(212, 197, 197);
}

.profile:first-child {
  background-color: rgb(209, 207, 207);
  justify-items: end;
  z-index: 100;
}

.fixed {
  position: fixed;
  width: 32.5%;
  height: 6rem;
}
.select_icon {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: rgb(80, 80, 80);
  margin-right: 1rem;
}
.select_icon:not(:last-child) {
  margin-bottom: 0.3rem;
}

.header_icons {
  display: flex;
  width: 27%;
  justify-content: space-between;
}
.MdMessage {
  cursor: pointer;
  color: rgb(80, 80, 80);
}

.icon_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.5rem;
}

.icon_box:hover {
  cursor: pointer;
}
.profile_img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.user p {
  font-size: 1.1rem;
}

.user h2 {
  margin: 0;
  padding: 0;
}

.user_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.profile:nth-child(3):hover {
  cursor: default;
  background-color: #eee;
}

.input {
  height: 60%;
  width: 27vw;
  outline-color: rgb(168, 233, 104);
  border: none;
  border-radius: 0.8rem;
  transition: all 0.65s;
}
.BiSearchAlt {
  position: absolute;
  right: 4rem;
  color: rgb(80, 80, 80);
}

.input:focus {
  width: 30vw;
}

/* .input:focus ~ .BiSearchAlt {
  right: 2rem;
} */
