.container {
  /* background-color: rgb(189, 178, 178); */
  background-image: url(../public/default-wallpaper.png);
  background-repeat: repeat;
  /* background-size: cover; */
  background-attachment: fixed;
  font-size: 1.1rem;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  row-gap: 0.5rem;
  column-gap: 0.7rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  line-height: 1.5;
  padding: 0 2rem;
  width: 66.666%;
  margin-left: 33.333%;
  position: relative;
  z-index: 1000;
  transition: all 0.5s;
  min-height: 100vh;
  /* overflow-y: scroll; */
}
.contact_info .chatHeader {
  width: calc(60 / 100 * 66.666%) !important;
}
.contact_info .container {
  width: calc(60 / 100 * 66.666%);
}
.spinner {
  /* background-color: rgb(189, 178, 178); */
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 0 2rem;
  width: 70.666%;
  height: 100vh;
  margin-left: 33.333%;
}
.chatHeader {
  background-color: rgb(209, 207, 207);
  height: 6rem;
  width: 66.7vw;
  margin-left: -2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  position: fixed;
  z-index: 100;
}
/* .contact_info {
  
} */
.contact_info_header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
  position: fixed;
  width: calc(60 / 100 * 66.666%);
  height: 6rem;
  transform: translateX(-2.1rem);
  background-color: rgb(209, 207, 207);
  transition: all 0.5s;
}
.contact_info_header .chatIcons {
  transform: translateX(11rem);
}

.contact_info_header .userInfo h1 {
  margin-bottom: 0%;
}
.message_start {
  margin-bottom: 10rem;
}
.chatHeader .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  cursor: pointer;
  width: fit-content;
}
.chatHeader .userInfo p {
  margin-top: 0.5rem;
}
.chatHeader .userInfo h1 {
  margin: 0%;
  padding: 0%;
}
.chatIcons {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.chatIcons:last-child {
  margin-right: 2rem;
}
.chatIcons > *:hover {
  cursor: pointer;
}
.ImAttachment {
  color: rgb(80, 80, 80);
}
.select_icon {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: rgb(80, 80, 80);
  margin-right: 1rem;
}
.select_icon:not(:last-child) {
  margin-bottom: 0.3rem;
}
.profile_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
}
.right_text {
  border-radius: 0 0.8rem 0 0.8rem;
  background-color: rgb(187, 228, 146);
  padding: 1rem;
  width: fit-content;
  max-width: 60%;
  flex-direction: column;
  justify-self: right;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  margin-left: auto;
  font-size: 1.4rem;
}
.right_text:not(:last-child) {
  margin-bottom: 2rem;
}
.left_text {
  border-radius: 0.8rem 0 0.8rem 0;
  background-color: #eee;
  font-size: 1.4rem;
  padding: 1rem;
  width: fit-content;
  max-width: 60%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
}
.left_text:not(:last-child) {
  margin-bottom: 2rem;
}
.tick {
  width: 1.4rem;
  height: 1.4rem;
}

.tick_rotate {
  width: 1.7rem;
  height: 1.7rem;
  transform: rotate(-8deg);
}
.metadata {
  display: flex;
  align-items: flex-end;
  padding-left: 1.5vw;
  align-self: flex-end;
}

.metadata p {
  margin-bottom: 0;
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.input_container {
  position: absolute;
  bottom: 0vh;
  width: 100%;
  left: 0;
  height: 7rem;
  background-color: rgb(209, 207, 207);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
  transition: all 0.5s;
}
.contact_info_input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_info_input .input_container {
  width: calc(60 / 100 * 66.666%);
}
.input input[type="text"] {
  font-size: 1.6rem;
}

.input {
  width: 83%;
  padding: 1.3rem;
  border: none;
  display: block;
  border-radius: 50rem;
  margin-left: 4vw;
  /* outline-color: rgb(168, 233, 104); */
  outline: none;
  transition: all 0.65s;
  font-size: 1.6rem;
}

.MdSend {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: rgb(168, 233, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  cursor: pointer;
  transition: all 0.65s;
  margin-right: -1vw;
  border: none;
  outline: none;
}
.MdSend:hover {
  background-color: rgb(131, 238, 25);
}
.arrow_left {
  color: rgb(80, 80, 80);
  display: none;
}

@media only screen and (min-width: 1100px) {
  .input {
    width: 70%;
  }
}
@media only screen and (max-width: 1000px) {
  .input {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .input_container {
    margin-left: -2.5vw;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    margin-left: 0;
    width: 100%;
  }
  .display_hiden {
    display: none;
  }
  .chatHeader {
    width: 100%;
  }
  .input_container {
    width: 104%;
    margin-left: -6vw;
  }
  .arrow_left {
    display: inline;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .spinner {
    width: 100%;
    margin-left: 0%;
    position: relative;
    z-index: 10000;
  }
  .spinner .chatHeader {
    left: 2rem;
  }
  .right_text,
  .left_text {
    max-width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .MdSend {
    margin-right: 4vw;
  }
}
