.container {
  /* background-color: rgb(189, 178, 178); */
  background-image: url(../public/default-wallpaper.png);
  background-repeat: repeat;
  /* background-size: cover; */
  background-attachment: fixed;
  font-size: 1.1rem;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  row-gap: 0.5rem;
  column-gap: 0.7rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  line-height: 1.5;
  padding: 0 2rem;
  width: 66.666%;
  margin-left: 33.333%;
}

.chatHeader {
  background-color: rgb(209, 207, 207);
  height: 6rem;
  width: 65.8vw;
  margin-left: -2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.message_start {
  margin-bottom: 10rem;
}
.chatHeader .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.chatHeader .userInfo h1 {
  margin: 0%;
  padding: 0%;
}
.chatIcons {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.chatIcons:last-child {
  margin-right: 2rem;
}
.chatIcons > *:hover {
  cursor: pointer;
}
.ImAttachment {
  color: rgb(80, 80, 80);
}
.select_icon {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: rgb(80, 80, 80);
  margin-right: 1rem;
}
.select_icon:not(:last-child) {
  margin-bottom: 0.3rem;
}
.profile_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.left_text {
  border-radius: 0 0.8rem 0 0.8rem;
  background-color: rgb(187, 228, 146);
  padding: 1rem;
  width: 50%;
  justify-self: right;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  margin-left: 32vw;
}
.right_text {
  border-radius: 0.8rem 0 0.8rem 0;
  background-color: #eee;
  padding: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
}
.tick {
  width: 1.7rem;
  height: 1.7rem;
}

.tick_rotate {
  width: 1.7rem;
  height: 1.7rem;
  transform: rotate(-8deg);
}
.metadata {
  display: flex;
  align-items: flex-end;
}

.metadata p {
  margin-bottom: 0;
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.input_container {
  position: fixed;
  margin-top: 92.3vh;
  width: 68%;
  height: 5rem;
  background-color: rgb(209, 207, 207);
  margin-left: -2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}

.input {
  width: 70%;
  padding: 1rem;
  border: none;
  display: block;
  border-radius: 0.8rem;
  margin-left: 5rem;
  outline-color: rgb(168, 233, 104);
  transition: all 0.65s;
}

.input:focus {
  width: 75%;
}

.MdSend {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgb(168, 233, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  cursor: pointer;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  transition: all 0.65s;
  margin-left: -4rem;
}
.MdSend:hover {
  background-color: rgb(131, 238, 25);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  margin-left: -2rem;
}
