.container {
  background-color: #eee;
  height: 100vh;
  width: 33.333%;
  font-size: 1.6rem;
  /* display: grid;
  grid-template-rows: repeat(auto-fit, 6rem);
  grid-auto-rows: 6rem;
  align-items: center;
  column-gap: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
}

.newChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #eee;
  height: 100vh;
  width: 34.333%;
  font-size: 1.6rem;
  margin-right: 100vw;
  transition: all 0.2s cubic-bezier(0.98, -0.01, 0.83, 0.67);
  z-index: 1;
}

.fix_mt {
  margin-top: 0 !important;
}

.newChat_show .newChat {
  margin-right: 0vw;
}

.newChat .profile .input {
  margin: auto 0 3rem 0;
}

.profile {
  display: grid;
  grid-template-columns: 5.5rem 1fr;
  column-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid rgb(197, 194, 194);
  height: 6rem;
  width: 100%;
  text-overflow: ellipsis;
}

.newChat .profile {
  grid-template-columns: 6.5rem 1fr;
  column-gap: 0.5rem;
}

.newChat .profile_img {
  margin-right: -2rem;
}

.profile:not(:first-child):hover {
  cursor: pointer;
  background-color: rgb(209, 207, 207);
}

.profile:first-child {
  background-color: rgb(209, 207, 207);
  justify-items: end;
  z-index: 100;
}

.profile_input:hover {
  cursor: default;
  background-color: #eee;
}

.container .profile:nth-child(4) {
  margin-top: 12rem;
}
.newChat .profile:nth-child(4) {
  margin-top: 0;
}
.newChat .profile:nth-child(3) {
  margin-top: 12rem;
}

.profile_contacts {
  background-color: #00bfa5 !important;
  display: flex;
  justify-content: flex-start;
  height: 5rem !important;
  align-items: center;
}
.profile_contacts > * {
  margin-left: 4vw;
}
.profile_contacts div {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: -1rem;
}
.profile_contacts p {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0%;
}

.user p {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.box {
  height: 25rem;
  width: 20rem;
  background-color: #eee;
  right: 70vw;
  z-index: 100;
  top: 8vh;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
  transition: all 0.2s;
  position: fixed;
}

.box p {
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding: 0.5rem 0 0.5rem 0;
}

.box div {
  padding-left: 2rem;
}

.box div:hover {
  background-color: rgb(159, 167, 159);
  cursor: pointer;
}

.hideMenu {
  opacity: 0;
  visibility: hidden;
}

.fixed {
  position: fixed;
  width: 34%;
  height: 6rem;
}
.fixed_2 {
  position: fixed;
  width: 34%;
  height: 6rem;
}

.fixed_input {
  position: absolute;
  top: 6rem;
}

.header {
  background-color: rgb(209, 207, 207) !important;
  cursor: default !important;
}
.search {
  background-color: #eee !important;
  cursor: default !important;
}
.select_icon {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: rgb(80, 80, 80);
}
.select_icon:not(:last-child) {
  margin-bottom: 0.3rem;
}

.header_icons {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  margin-left: 17vw;
}
.MdMessage {
  cursor: pointer;
  color: rgb(80, 80, 80);
  height: 2.6rem;
}

.icon_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  /* background-color: black; */
  border-radius: 100%;
  margin: 0;
  padding: 0;
}
.icon_box_color {
  background-color: rgb(172, 170, 170);
}
.icon_box:hover {
  cursor: pointer;
}
.profile_img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.profile_header_img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  margin-left: 2rem;
}

.user p {
  font-size: 1.3rem;
}

.user h2 {
  margin: 0;
  padding: 0;
}

.user_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  height: 4rem;
  width: 27vw;
  outline-color: rgb(168, 233, 104);
  border: none;
  border-radius: 0.8rem;
  transition: all 0.65s;
  display: inline-block;
  margin-left: -1vw;
}

.input:placeholder-shown ~ .BiSearchAlt {
  opacity: 1;
}
.input:focus {
  width: 30vw;
}

.container .profile .input:focus ~ .BiSearchAlt {
  right: 3.5vw;
}

.BiSearchAlt {
  position: absolute;
  top: 2.3rem;
  right: 5vw;
  color: rgb(80, 80, 80);
  opacity: 0;
  transition: all 0.65s;
}
.newChat .profile .BiSearchAlt {
  right: -22vw !important;
  top: 1.4rem;
}
.newChat .profile .input:focus ~ .BiSearchAlt {
  right: -25.5vw !important;
}
.fixed_input_2 {
  position: absolute;
  top: 5rem;
  height: 6rem !important;
  border-radius: 0% !important;
  width: 100% !important;
  background-color: #eee !important;
  margin: 0 !important;
  padding: 0% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.input_2 {
  height: 4rem;
  width: 27vw;
  outline-color: rgb(168, 233, 104);
  border: none;
  border-radius: 0.8rem;
  transition: all 0.65s;
  display: inline-block;
  margin: 0%;
  transition: all 0.65s;
}
.input_2:focus ~ .BiSearchAlt_2 {
  right: 3.5vw;
}
.BiSearchAlt_2 {
  transition: all 0.65s;
  position: absolute;
  right: 4.5vw;
  color: rgb(80, 80, 80);
  top: 2.3rem;
}

.input_2:focus {
  width: 30vw;
}

.profile_input {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #eee !important;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .BiSearchAlt {
    display: none;
  }
  .header_icons {
    width: 40%;
    margin-left: 14vw;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .newChat {
    margin-right: 300vw;
    width: 103%;
  }
  .fixed_2 {
    width: 100%;
  }
  .box {
    right: 6vw;
  }
  .header_icons {
    margin-left: 70vw;
    width: 20%;
  }
  .input {
    width: 80%;
  }
  .input:focus {
    width: 85%;
  }
  .BiSearchAlt {
    display: inline;
    right: 15vw;
  }
  .container .profile .input:focus ~ .BiSearchAlt {
    right: 12vw;
  }
  .BiSearchAlt_2 {
    right: 15vw;
  }
  .input_2:focus ~ .BiSearchAlt_2 {
    right: 12vw;
  }

  .fixed {
    width: 105%;
  }
  .input_2 {
    width: 80vw;
  }
  .input_2:focus {
    width: 85vw;
  }

  .profile_contacts p {
    margin-left: 24vw;
  }
  .profile_contacts > * {
    margin-left: 6vw;
  }
}

@media only screen and (max-width: 500px) {
  .header_icons {
    margin-left: 55vw;
    width: 30%;
  }
}
