.container {
  position: fixed;
  top: 0%;
  left: 0;
  width: 33.333%;
  height: 100vh;
  background-color: #eee;
  z-index: 100;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 2fr 4fr 4fr;
}
.header {
  background-color: #00bfa5;
  display: grid;
  grid-template-columns: 3fr 10fr;
  align-items: flex-end;
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
}
.header div:first-child {
  justify-self: center;
  transform: translateY(-3.3rem);
  cursor: pointer;
}
.header > * {
  transform: translateY(-3rem);
}

.group_pfp {
  align-self: center;
  justify-self: center;
}

.group_pfp img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.input {
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input input {
  border: none;
  background-color: transparent;
  width: 30rem;
  z-index: 10;
}

.input span {
  display: block;
  width: 30rem;
  height: 2px;
  background-color: #00bfa5;
  transform: translateY(-1.5rem);
}

.input div {
  transform: translate(-19.7rem, -2rem);
  z-index: 1;
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.5);
}
.transform {
  transform: translate(-21.6rem, -4rem) !important;
  font-size: 1.3rem;
  z-index: 1;
}
