.container {
  background-color: #eee;
  width: 26.75vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0%;
  z-index: 1002;
  font-size: 1.6rem;
  overflow: hidden;
  transition: all 0.2s;
}
.hideGroupInfo .container {
  width: 0%;
}
.header {
  position: fixed;
  top: 0%;
  right: 0;
  background-color: rgb(209, 207, 207);
  height: 6rem;
  width: 26.75vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  transition: all 0.2s;
}

.hideGroupInfo .header {
  width: 0%;
}

.header div {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header span,
.header span::after {
  display: inline-block;
  width: 2rem;
  height: 2px;
  background-color: rgb(80, 80, 80);
  transform: rotate(135deg);
}
.header span::after {
  content: "";
  transform: translateY(-1.6rem) rotate(90deg);
}

.body {
  position: relative;
  top: 6rem;
  overflow-y: scroll;
  height: calc(100vh - 6rem);
  display: grid;
  grid-template-rows: 30vw max-content 2fr max-content 1fr;
  row-gap: 2rem;
}
.body > * {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.group_header {
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.group_header img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.group_header div {
  padding: 2rem;
}
.group_header div p {
  color: rgba(0, 0, 0, 0.5);
}
.description {
  padding: 2rem;
}
.description h1 {
  color: #00bfa5;
}
/* #00bfa5; */
.group_actions {
  display: grid;
  height: 10rem;
  align-items: center;
}

.group_actions div {
  height: 100%;
  display: flex;
  align-items: center;
}

.group_actions div:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.group_actions p {
  padding-left: 2rem;
}

.participants {
}
.p_header {
  padding: 2rem;
}
.participants h3 {
  color: #00bfa5;
}
.participant {
  display: grid;
  grid-template-columns: 2fr 9fr;
  height: 6rem;
  padding-left: 2rem;
}
.participant:hover {
  cursor: pointer;
  background-color: #eee;
}
.participant div {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.participant p {
  transform: translateY(1rem);
}
.participant img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  align-self: center;
}
.exit {
  padding: 2rem;
  color: #df3333;
}

.exit:hover {
  background-color: #eee;
  cursor: pointer;
}
.exit div {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
