.container {
  position: fixed;
  right: 0%;
  top: 0%;
  width: 66.666vw;
  height: 100vh;
  z-index: 1001;
  /* display: none; */
  font-size: 1.6rem;
  background-image: url(../public/default-wallpaper.png);
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 5fr 6fr;
  height: 6rem;
  width: 66.666vw;
  background-color: rgb(209, 207, 207);
}

.user_info {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}
.user_info div {
  cursor: pointer;
  width: fit-content;
  width: 70vw;
}
.user_info img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  justify-self: center;
  cursor: pointer;
}
.user_info div h1 {
  margin: 0%;
}

.participants {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  height: 2rem;
}
.participants span {
  font-size: 1.2rem;
}
.header_icons {
  justify-self: flex-end;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_icons span {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: rgb(80, 80, 80);
}
.header_icons span:nth-child(2) {
  margin: 0.2rem 0;
}

.header_icons > * {
  margin-right: 5rem;
}
.body {
  position: relative;
  top: 6rem;
  overflow-y: scroll;
  background-color: transparent;
  height: calc(100vh - 12rem);
  padding: 2rem;
}
.left_text {
  display: flex;
  justify-content: flex-start;
}
.left_text p {
  border-radius: 0 0.8rem 0 0.8rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: fit-content;
  max-width: 60%;
  min-width: 13vw;
  background-color: #eee;
  margin-top: 2rem;
}
.right_text {
  display: flex;
  justify-content: flex-end;
}
.right_text p {
  border-radius: 0 0.8rem 0 0.8rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: fit-content;
  max-width: 60%;
  min-width: 13vw;
  background-color: rgb(187, 228, 146);
  margin-top: 2rem;
}

.input {
  position: fixed;
  bottom: 0%;
  width: 66.666%;
  height: 6rem;
  background-color: rgb(209, 207, 207);
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
}
.input input {
  border: none;
  width: 90%;
  justify-self: flex-end;
  border-radius: 50rem;
  padding: 1rem;
}
.MdSend {
  justify-self: center;
  background-color: rgb(168, 233, 104);
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.MdSend:hover {
  background-color: rgb(131, 238, 25);
}

@media only screen and (max-width: 767px) {
  .header {
    width: 100vw;
    left: 0;
    grid-template-columns: 5fr 1fr;
  }
  .container {
    width: 100vw;
  }
  .input {
    width: 100vw;
  }
}
@media only screen and (max-width: 400px) {
  .header_icons div:last-child {
    margin-right: 2rem;
  }
  .user_info {
    column-gap: 1rem;
  }
  .body {
    padding: 1rem;
  }
  .input {
    grid-template-columns: 7fr 1.5fr;
  }
  .input input {
    width: 85%;
  }
  .right_text p {
    max-width: 90%;
  }
  .left_text p {
    max-width: 90%;
  }
}
