.container {
  position: fixed;
  height: calc(100vh - 6rem);
  width: 26.75vw;
  background-color: #eee;
  top: 6rem;
  right: 0;
  color: black;
  font-size: 1.6rem;
  line-height: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.message {
}

.message_info {
}
